<h2><%= event.name %></h2>
<strong>a <%= link_to event.category.name, category_path(event.category) %> event</strong>

<% if event.description.present? %>
  <h3>Description:</h3>
  <p><%= event.description %></p>
<% end %>

<h3>Dates/times:</h3>
<p>
  <%= event_date event.start %>
  <% if event.end %>
    &mdash; <%= event_date event.end %>
  <% end %>
</p>

<% if event.all_day %>
  <h3>This is an all day event</h3>
<% end %>

<% if event.location.present? %>
  <h3>Location:</h3>
  <p><%= event.location %></p>
<% end %>

<% if event.website.present? %>
  <h3>Website:</h3>
  <p><%= link_to event.website, event.website %></p>
<% end %>

<% if event.submitted_by.present? %>
  <h3>Submitted by:</h3>
  <p><%= event.submitted_by %></p>
<% end %>

<% if event.phone.present? %>
  <h3>Phone:</h3>
  <p><%= event.phone %></p>
<% end %>

<% if event.email.present? %>
  <h3>Email:</h3>
  <p><%= mail_to event.email, event.email %></p>
<% end %>

<% if event.cost.present? %>
  <h3>Cost:</h3>
  <p><%= event.cost %></p>
<% end %>

<% if event.registration_url.present? %>
  <h3>Registration Link:</h3>
  <p><%= link_to event.registration_url, event.registration_url %></p>
<% end %>

<% if user_signed_in? %>
  <div class="event-buttons">
    <% if event.approved %>
      <%= link_to 'Unapprove', unapprove_event_path(event), :method => :put %>
    <% else %>
      <%= link_to 'Approve', approve_event_path(event), :method => :put %>
    <% end %>
    |
    <%= link_to 'Edit', edit_event_path(event), :method => :get %>
    |
    <%= link_to 'Delete', event_path(event), :method => :delete %>
    |
    <%= link_to 'List', category_events_path(event.category) %>
  </div>
<% end %>
