<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :all_day %><br />
    <%= f.check_box :all_day %>
  </div>
  <div class="field">
    <%= f.label :start, 'Start date/time' %><br />
    <%= f.text_field :start, :value => @event.try(:start).try(:to_formatted_s, :long) %>
    e.g. "tomorrow" or "August 1st" or "June 23rd, 2011"
  </div>
  <div class="field">
    <%= f.label :end, 'End date/time' %><br />
    <%= f.text_field :end, :value => @event.try(:end).try(:to_formatted_s, :long) %>
    e.g. "tomorrow" or "August 1st" or "June 23rd, 2011"
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_area :location, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
