<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>All day</th>
    <th>Start</th>
    <th>End</th>
    <th>Location</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Cost</th>
    <% if user_signed_in? %>
      <th>Approved</th>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.description %></td>
    <td><%= event.all_day %></td>
    <td><%= event.start %></td>
    <td><%= event.end %></td>
    <td><%= event.location %></td>
    <td><%= event.phone %></td>
    <td><%= event.email %></td>
    <td><%= event.cost %></td>
    <% if user_signed_in? %>
      <td><%= event.approved %></td>
      <td>

        <% if event.approved %>
          <%= link_to 'Unapprove', unapprove_event_path(event), :method => :put %>
        <% else %>
          <%= link_to 'Approve', approve_event_path(event), :method => :put %>
        <% end %>
      </td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
